include README.md
include requirement.txt
include jenkins.sh
include .gitlab-ci.yml
include migrations
include migrations/versions
include migrations/alembic.ini
include migrations/script.py.mako
include tokenleader/app1/configs/settings.ini
